APP_NAME="क-ख-ग"
NODE_ENV=development
PORT=4500
FRONTEND_APP_DOMAIN="https://ka-kha-ga.vercel.app"

# Json Web Token
JWT_SECRET="PLACE_HOLDER"
JWT_EXPIRY_TIME="2h"


# Crypto Secrete Key
CRYPTO_ENCRYPTION_SECRETE_KEY="PLACE_HOLDER"

# To enable or disable winston log file generation 
GENERATE_LOG_FILE=true
LOG_DIR="logs"

# Main DB connection URL
DATABASE_URL=mysql://root:@localhost:3306/ka_kha_ga

# Comma separated origin url
ALLOWED_ORIGINS="http://localhost:5169,http://localhost:5170"


# Mail Configuration
SMTP_HOST=""
SMTP_PORT=465
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASSWORD=""
EMAIL_FROM_NAME="'क-ख-ग Team"
EMAIL_FROM_ADDRESS=""
